
$enable-responsive-font-sizes: false;
$font-family-sans-serif:      Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family:        Sansita, sans-serif;
$headings-font-weight:        700;



// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
@import "common";
