<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} - Github Logo Search</title>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-328425-25', 'auto');
        ga('send', 'pageview');

    </script>



    <meta name="referrer" content="always" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                <a href="/"><img src="/favicon.svg" style="width:24pt;height:24pt;margin-top:-4pt;"/></a>
                {{ title }}
            </h1>
