    <hr/>
    <footer class="d-print-none">
        <p class="small text-muted text-center">
            Return to <a href="https://www.vectorlogo.zone/">VectorLogoZone</a>
            | <a href="https://validator.w3.org/check/referer">Validate HTML</a>
        </p>
    </footer>
   </div>
  </div>
</div>
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-328425-32"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-328425-32');
    </script>
    <!-- End Google Analytics -->
    </body>
</html>