    <hr/>
    <footer class="d-print-none">
        <p class="small text-muted text-center">
            Return to <a href="https://www.vectorlogo.zone/">VectorLogoZone</a>
            | <a href="https://validator.w3.org/check/referer">Validate HTML</a>
        </p>
    </footer>
   </div>
  </div>
</div>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-328425-25', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    </body>
</html>