    <hr/>
    <footer class="d-print-none">
        <p class="small text-muted text-center">
            <a href="https://www.github.com/VectorLogoZone/awesome-logos"><img alt="Github" src="https://www.vectorlogo.zone/logos/github/github-tile.svg" class="social-footer"/></a>
            <a href="https://www.vectorlogo.zone/"><img alt="VectorLogoZone" src="https://www.vectorlogo.zone/logos/vectorlogozone/vectorlogozone-tile.svg" class="social-footer"/></a>
            <a href="https://www.twitter.com/AwesomeSvgLogos"><img alt="Twitter" src="https://www.vectorlogo.zone/logos/twitter/twitter-tile.svg" class="social-footer"/></a>
            | <a href="https://validator.w3.org/check/referer">Validate HTML</a>
        </p>
    </footer>   </div>
  </div>
</div>
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-328425-32"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-328425-32');
    </script>
    <!-- End Google Analytics -->
    </body>
</html>