    <hr/>
    <footer class="d-print-none">
        <p class="small text-muted text-center">
            Return to <a href="https://www.vectorlogo.zone/">VectorLogoZone</a>
            | <a href="https://validator.w3.org/check/referer">Validate HTML</a>
        </p>
    </footer>
   </div>
  </div>
</div>
</body>
</html>