{{> above}}

<table class="table-bordered table-striped">
    <tbody>
        <tr>
            <td>Repository</td>
            <td>{{repo.repo}}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{repo.id}}</td>
        </tr>
        <tr>
            <td>Branch</td>
            <td>{{repo.branch}}</td>
        </tr>
        <tr>
            <td>Directory</td>
            <td>{{repo.directory}}</td>
        </tr>
        <tr>
            <td>Commit</td>
            <td></td>
        </tr>
        <tr>
            <td># of logos</td>
            <td></td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td></td>
        </tr>
        <tr>
            <td>Last Checked</td>
            <td></td>
        </tr>
    </tbody>
</table>

{{> below}}