{{> above}}

<div class="logo-container">
{{#each searchData.images}}
    <a href="{{this.src}}"><img alt="{{this.name}}" class="gitlogo" src="/logos/{{this.img}}" title="{{this.name}}"/></a>
{{/each}}
</div>

{{> below}}