{{> above}}
<p>
    These are the Git repositories currently indexed.
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Repository</th>
            <!--<th>&nbsp;</th>-->
        </tr>
    </thead>
    <tbody>
{{#each repos}}
        <tr>
            <td><a href="{{this.id}}/">{{this.id}}</a></td>
            <td><a href="https://github.com/{{this.repo}}">{{this.repo}}</a></td>
            <!--<td></td>-->
        </tr>
{{/each}}
    </tbody>
</table>

{{> below}}