{{> above}}

<p>Search for logos in public Git repositories.</p>

<p>View the <a href="/repo/index.html">repositories</a> included in the search.</p>

<p>View the <a href="https://github.com/VectorLogoZone/vlz-search">source code</a>.</p>

<p>Comments?  Suggestions?  Please use the main <a href="https://www.vectorlogo.zone/support/contact.html">VLZ contact form</a>.</p>
{{> below}}
