{{> above}}

<p>Search for SVG logos in public Git repositories.</p>

<p>No hot-linking.  While <a href="https://www.vectorlogo.zone/">VectorLogoZone</a> allows hotlinking, you must hotlink the images on <code>www</code>, not <code>search</code>.</p>

<p>Check with the repo for usage restrictions and attribution.  Every images is hyperlinked to the source repo.</p>

<p>View the <a href="/repo/index.html">repositories</a> included in the search.</p>

<p>View the <a href="https://github.com/VectorLogoZone/vlz-search">source code</a>.</p>

<p>Comments?  Suggestions?  Please use the main <a href="https://www.vectorlogo.zone/support/contact.html">VectorLogoZone contact form</a>.</p>
{{> below}}
