{{> above}}

<p>Search for SVG logos in public Git repositories.</p>

<p>No hot-linking.  While <a href="https://www.vectorlogo.zone/">VectorLogoZone</a> allows hotlinking, you must hotlink the images on <code>www</code>, not <code>search</code>.
Most other sources explicitly forbid hotlinking.</p>

<p>Check with the sources for usage restrictions and attribution.  Every image is hyperlinked to the source.</p>

<p>View the <a href="https://github.com/VectorLogoZone/awesome-logos">source code</a> on Github.</p>

<p>
    Comments?  Suggestions?  Please open a <a href="https://github.com/VectorLogoZone/awesome-logos/issues/new">Github issue</a> 
    or use the main <a href="https://www.vectorlogo.zone/support/contact.html">VectorLogoZone contact form</a>.</p>
{{> below}}
