{{> above}}

<form action="get" class="form-inline justify-content-center" id="site_search">
    <div class="form-row align-items-center" style="padding-bottom:20px;">
        <div class="col-auto">
            <label class="sr-only" for="q">Search query</label>
            <div class="input-group">
                <input autocomplete="off" autofocus="autofocus" class="form-control" id="q" name="q" placeholder="Search terms" type="text"/>
                <div class="input-group-append">
                    <button type="submit" class="btn" style="background-color:#1d8286;color:white;font-weight:bold;">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row clearfix">
    <div class="logo-container" id="search_results"></div>
</div>

{{> below}}
