{{> above}}
<p>
    This is the backend server for <a href="https://www.vectorlogo.zone/">VectorLogoZone</a>'s
    <a href="https://www.vectorlogo.zone/search-github.html">Github Logo Search</a>.
</p>

<p>
    <a class="button button-primary" href="https://www.vectorlogo.zone/search-github.html">Github Logo Search</a>.
</p>

<p>List of <a href="repo/">indexed repositories</a></p>

{{> below}}
