{{> above}}

<form action="get" class="form-inline justify-content-center" id="search_form">
    <div class="form-row align-items-center" style="padding-bottom:20px;">
        <div class="col-auto">
            <label class="sr-only" for="q">Search query</label>
            <div class="input-group">
                <input autocomplete="off" autofocus="autofocus" class="form-control" id="q" name="q" placeholder="Search terms" type="text"/>
                <div class="input-group-append">
                    <button type="submit" class="btn" style="background-color:#3e32a8;color:white;font-weight:bold;">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row clearfix">
    <div class="logo-container" id="search_results">
        <img src="/images/spinner.svg" style="border: 0;box-shadow: none;height:96px;width:96px;" alt="spinner" title="Please wait..." />
    </div>
</div>
<script>
    var doSearch = function(query)
    {
        var url = '/api/search.json';
        if (!query || query.length == 0)
        {
            url = '/api/random.json';
        }

        console.log("searching for " + query);
        //$("#search_results").text("searching for " + query);
        $.ajax({
            data: { q: query, max: 48 },
            dataType: 'json',
            error: function(xhr, text, err) {
                window.alert("Search API Error: " + text);
            },
            method: 'GET',
            success: function(data, text, xhr) {
                display_search_results(query, data);
            },
            url: url
        });
        return false;
    };

    $("#search_form").submit(function() {
        doSearch($("#q").val());
        return false;
    });

    $("#q").on('input propertychange paste', function() {
        console.log("input paste");
        var query = $("#q").val();
        history.replaceState({ "q": query}, "", "?q=" + query);
        doSearch(query);
    });

    $(window).on("load", function(event) {
        console.log("load", history.state);;
        var query = getParameterByName("q");
        //if (query && query.length)
        {
            $("#q").val(query);
            doSearch(query);
        }
   });

    $(window).on("popstate", function(event) {
        console.log("popstate");
        if (event.originalEvent.state)
        {
            var query = event.originalEvent.state["q"];
            $("#q").val(query);
            doSearch(query);
        }
        else
        {
            $("#q").val("");
            $("#search_results").empty();
        }
    });

    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    }

 
    function htmlEncode(value){
        return $("<div>").text(value).html();
    }

    function display_search_results(query, data) {
        var $search_results = $("#search_results");

        if (!data || !data.success) {
            $search_results.html('<div class="alert alert-error">Search failed! "' + htmlEncode(query) + '"</div>');
            return;
        }

        const results = data.results;
        
        if (window.gtag) {
            gtag('event', 'search', {
                search_term: query,
                event_value: results.length ? results.length : 0
            });
        }

        // Are there any results?
        if (results.length)
        {
            $search_results.empty(); // Clear any old results

            if (results.length > 100) {
                results.length = 100;
            }

            // Iterate over the results
            results.forEach(function(result) {
                const img = $("<img>")
                    .attr("src", result.url)
                    .attr("title", result.description)
                    .addClass("awesomelogo");
                if (result.css) {
                    img.addClass(result.css);
                }
                $search_results.append(
                    $("<a>").attr("href", result.source).append(img)
                );
            });
        }
        else
        {
            $search_results.html('<div class="alert alert-warning">No results found for "' + htmlEncode(query) + '"</div>');
        }
    }
</script>
{{> below}}
