{{> above}}

<form action="index.html" class="form-inline justify-content-center" enctype="multipart/form-data" method="POST">
    <div class="form-row align-items-center" style="padding-bottom:20px;">
        <div class="col-auto">
            <label class="sr-only" for="q">sourceData.json</label>
            <div class="input-group">
                <input autofocus="autofocus" class="form-control" id="file" name="file" placeholder="sourceData.json file to test" type="file" />
                <div class="input-group-append">
                    <button type="submit" class="btn" style="background-color:#3e32a8;color:white;font-weight:bold;">Test</button>
                </div>
            </div>
        </div>
    </div>
</form>

{{> below}}
